body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background: #EFECE3;
}
header {
  background: #4A70A9;
  color: white;
  padding: 1.2em;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
}
main {
  max-width: 450px;
  margin: 0.5em auto;
  padding: 0.5em;
}

.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 12px #2221;
  padding: 1.2em;
  margin-bottom: 1em;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label {
  font-size: 1em;
  margin-bottom: 0.2em;
  color: #8FABD4;
  font-weight: bold;
}

input {
  padding: 0.7em;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 8px;
  background: #8FABD4;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5em;
  transition: background 0.2s;
}
button:hover {
  background: #8FABD4
}

#map {
  height: 330px;
  border-radius: 16px;
  box-shadow: 0 2px 12px #2221;
  margin-bottom: 1em;
}
@media (max-width: 520px) {
  main {
    padding: 0.2em;
  }
  .card, #map {
    border-radius: 9px;
    padding: 0.7em;
  }
  #map {
    height: 200px;
  }
}